NEXT_PUBLIC_SUPABASE_URL=https://succwvnljiakrojstriz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_U5jNhiKEZzvGT4KKu570ow_Aqd2MESe
VITE_SUPABASE_URL=https://succwvnljiakrojstriz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_U5jNhiKEZzvGT4KKu570ow_Aqd2MESe
